#Simulation configuration file

name: Red de pruebas
link_fidel_rounds: 100 #Number of fidelity measures to estimate link fidelity
path_fidel_rounds: 100 #Default number of measures to perform when estimating E2E path fidelity
epr_pair: 'PHI_PLUS' #Allowed values are PHI_PLUS or PSI_PLUS
simulation_duration: 1000000000 #Duration of application simulation phase

nodes:
  - switch1: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
  - switch2: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
  - switch3: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
  - switch4: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
  - switch5: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
  - node1: #name of endNode
      type: endNode
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
      teleport_queue_size: 200
      teleport_queue_technology: Classical
      teleport_strategy: Oldest
  - node2:
      type: endNode
      gate_duration: 200
      gate_duration_X: 200
      gate_duration_Z: 200
      gate_duration_CX: 2857
      gate_duration_rotations: 2863
      measurements_duration: 3700
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e9
      t2_mem_time: 13e6
      teleport_queue_size: 200
      teleport_queue_technology: Classical
      teleport_strategy: Oldest
links:
  - nodeswitch1: #name of link
      end1: node1
      end2: switch1
      distance: 5
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3
  - nodeswitch2: #name of link
      end1: node2
      end2: switch5
      distance: 5
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3
  - interswitch1: #name of link
      end1: switch1
      end2: switch2
      distance: 5
      number_links: 8
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3
  - interswitch2: #name of link
      end1: switch2
      end2: switch3
      distance: 5
      number_links: 8
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3
  - interswitch3: #name of link
      end1: switch3
      end2: switch4
      distance: 5
      number_links: 8
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3
  - interswitch4: #name of link
      end1: switch4
      end2: switch5
      distance: 5
      number_links: 8
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
      qchannel_noise_model: FibreDepolGaussModel
      qchannel_loss_model: FibreLossModel
      p_loss_init: 0.05
      p_loss_length: 0.3


requests:
  - request1: #name of request
      origin: node1
      destination: node2
      minfidelity: 0.0
      maxtime: 16000000000 # nanoseconds
      #path_fidel_rounds: 100
      application: LogicalTeleportation
      teleport: [[1,0]]
      #demand_rate: 200
      
