name: Red de pruebas
nodes:
  - switch1: #name of switch
      type: switch
      mem_noise_model: PEND
      num_memories: 10
      gate_duration: 1
  - switch2:
      type: switch
      mem_noise_model: PEND
      num_memories: 10
      gate_duration: 2
  - switch3:
      type: switch
      mem_noise_model: PEND
      num_memories: 10
      gate_duration: 2
  - node1: #name of endNode
      type: endNode
      mem_noise_model: PEND2
      gate_duration: 3
  - node2:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node3:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node4:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1

links:
  - nodeswitch1: #name of link
      end1: node1
      end2: switch1
      distance: 10
      source_fidelity_sq: 1
      source_delay: 1e5
      photon_speed_fibre: 200e3
  - nodeswitch2:
      end1: node2
      end2: switch1
      distance: 20
      source_fidelity_sq: 0.9
      source_delay: 1e5
      photon_speed_fibre: 200e3
  - nodeswitch3:
      end1: switch2
      end2: node3
      distance: 20
      source_fidelity_sq: 0.9
      source_delay: 1e5
      photon_speed_fibre: 200e3
  - nodeswitch4:
      end1: switch3
      end2: node4
      distance: 20
      source_fidelity_sq: 0.9
      source_delay: 1e5
      photon_speed_fibre: 200e3     
  - interswitch1:
      end1: switch1
      end2: switch2
      distance: 5
      number_links: 4
      noise_model: DepolarizingChannel
      source_fidelity_sq: 0.8
      source_delay: 1e5
      photon_speed_fibre: 200e3
  - interswitch2:
      end1: switch1
      end2: switch3
      distance: 5
      number_links: 4
      noise_model: DepolarizingChannel
      source_fidelity_sq: 0.8
      source_delay: 1e5
      photon_speed_fibre: 200e3
  - interswitch3:
      end1: switch2
      end2: switch3
      distance: 5
      number_links: 4
      noise_model: DepolarizingChannel
      source_fidelity_sq: 0.8
      source_delay: 1e5
      photon_speed_fibre: 200e3

requests:
  - request1: #name of request
      origin: node1
      destination: node3
      minfidelity: 0.90
      maxtime: 100 # nanoseconds
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
  - request2: #name of request
      origin: node2
      destination: node4
      minfidelity: 0.95
      maxtime: 100 # nanoseconds
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
 