#Simulation configuration file

name: Red de pruebas
link_fidel_rounds: 100 #Number of fidelity measures to estimate link fidelity
path_fidel_rounds: 100 #Default number of measures to perform when estimating E2E path fidelity
epr_pair: 'PHI_PLUS' #Allowed values are PHI_PLUS or PSI_PLUS
simulation_duration: 100000000 #Duration of application simulation phase

nodes:
  - switch1: #name of switch
      type: switch
      num_memories: 34
      gate_duration: 30000
      gate_noise_model: DephaseNoiseModel
      dephase_gate_rate: 0
  - node1: #name of endNode
      type: endNode
      gate_duration: 30000
      gate_noise_model: DephaseNoiseModel
      dephase_gate_rate: 0
      teleport_queue_size: 9
      teleport_queue_technology: Quantum
      teleport_strategy: Oldest
  - node2:
      type: endNode
      gate_duration: 30000
      gate_noise_model: DephaseNoiseModel
      dephase_gate_rate: 0
      teleport_queue_size: 9
      teleport_queue_technology: Quantum
      teleport_strategy: Oldest

links:
  - nodeswitch1: #name of link
      end1: node1
      end2: switch1
      distance: 10
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch2: #name of link
      end1: node2
      end2: switch1
      distance: 10
      source_fidelity_sq: 1
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel

requests:
  - request1: #name of request
      origin: node1
      destination: node2
      minfidelity: 0.0
      maxtime: 16000000000 # nanoseconds
      #path_fidel_rounds: 100
      application: CHSH
      teleport: [[1,0]]
      demand_rate: 1000
      qber_states: [[1,0]]
