#Simulation configuration file

name: Red de pruebas
link_fidel_rounds: 100 #Number of fidelity measures to estimate link fidelity
path_fidel_rounds: 1000 #Default number of measures to perform when estimating E2E path fidelity
epr_pair: 'PSI_PLUS' #Allowed values are PHI_PLUS or PSI_PLUS
simulation_duration: 100000000 #Duration of application simulation phase

nodes:
  - switch1: #name of switch
      type: switch
      num_memories: 32
      gate_duration: 1
      gate_duration_X: 1
      gate_duration_Z: 1
      gate_duration_CX: 1
      gate_duration_rotations: 1
      measurements_duration: 1
      #gate_noise_model: DephaseNoiseModel
      #dephase_gate_rate: 200
      #mem_noise_model: T1T2NoiseModel
      #t1_mem_time: 1e10
      #t2_mem_time: 1e10
  - node1: #name of endNode
      type: endNode
      gate_duration: 1
  - node2:
      type: endNode
      gate_duration: 1
  - node3:
      type: endNode
      gate_duration: 1
  - node4:
      type: endNode
      gate_duration: 1
  - node5:
      type: endNode
      gate_duration: 1
  - node6:
      type: endNode
      gate_duration: 1
  - node7:
      type: endNode
      gate_duration: 1
  - node8:
      type: endNode
      gate_duration: 1
  - node9:
      type: endNode
      gate_duration: 1
  - node10:
      type: endNode
      gate_duration: 1
  - node11:
      type: endNode
      gate_duration: 1
  - node12:
      type: endNode
      gate_duration: 1
  - node13:
      type: endNode
      gate_duration: 1
  - node14:
      type: endNode
      gate_duration: 1
  - node15:
      type: endNode
      gate_duration: 1
  - node16:
      type: endNode
      gate_duration: 1
links:
  - nodeswitch1: #name of link
      end1: node1
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch2: #name of link
      end1: node2
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch3: #name of link
      end1: node3
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch4: #name of link
      end1: node4
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch5: #name of link
      end1: node5
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch6: #name of link
      end1: node6
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch7: #name of link
      end1: node7
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch8: #name of link
      end1: node8
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch9: #name of link
      end1: node9
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch10: #name of link
      end1: node10
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch11: #name of link
      end1: node11
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch12: #name of link
      end1: node12
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch13: #name of link
      end1: node13
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch14: #name of link
      end1: node14
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch15: #name of link
      end1: node15
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - nodeswitch16: #name of link
      end1: node16
      end2: switch1
      distance: 5
      source_fidelity_sq: 0.99
      source_delay: 10000
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel

requests:
  - request1: #name of request
      origin: node1
      destination: node2
      minfidelity: 0.70
      maxtime: 160000 # nanoseconds
      #path_fidel_rounds: 100
      application: Capacity
  - request2: #name of request
      origin: node16
      destination: node14
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 100
      application: Teleport
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
      #demand_rate: 10000 (Hz)
  - request3: #name of request
      origin: node4
      destination: node6
      minfidelity: 0.70
      maxtime: 500000 # nanoseconds
      #path_fidel_rounds: 100
      application: Capacity
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
  - request4: #name of request
      origin: node7
      destination: node8
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 200
      application: Capacity
  - request5: #name of request
      origin: node13
      destination: node12
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 200
      application: Capacity
  - request6: #name of request
      origin: node3
      destination: node5
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 200
      application: Capacity
  - request7: #name of request
      origin: node10
      destination: node9
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 200
      application: Capacity
  - request8: #name of request
      origin: node15
      destination: node11
      minfidelity: 0.70
      maxtime: 400000 # nanoseconds
      #path_fidel_rounds: 200
      application: Capacity