#Simulation configuration file

name: Red de pruebas
path_fidel_rounds: 100 #Number of measures to perform when estimating E2E path fidelity
nodes:
  - switch1: #name of switch
      type: switch
      num_memories: 12
      gate_duration: 1
      gate_duration_X: 1
      gate_duration_Z: 1
      gate_duration_CX: 1
      gate_duration_rotations: 1
      measurements_duration: 1
      gate_noise_model: DephaseNoiseModel
      dephase_gate_rate: 200
      mem_noise_model: T1T2NoiseModel
      t1_mem_time: 1e10
      t2_mem_time: 1e10
  - switch2:
      type: switch
      mem_noise_model: PEND
      num_memories: 16
      gate_duration: 2
  - switch3:
      type: switch
      mem_noise_model: PEND
      num_memories: 16
      gate_duration: 2
  - node1: #name of endNode
      type: endNode
      mem_noise_model: PEND2
      gate_duration: 1
      gate_duration_X: 10
      gate_noise_model: DepolarNoiseModel
      depolar_gate_rate: 200
  - node2:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node3:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node4:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node5:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1
  - node6:
      type: endNode
      mem_noise_model: PEND3
      gate_duration: 1

links:
  - nodeswitch1: #name of link
      end1: node1
      end2: switch1
      distance: 10
      source_fidelity_sq: 1
      source_delay: 10
      photon_speed_fibre: 100e3
      classical_delay_model: FibreDelayModel
  - nodeswitch2:
      end1: node2
      end2: switch1
      distance: 20
      source_fidelity_sq: 0.9
      source_delay: 10
      photon_speed_fibre: 200e3
  - nodeswitch3:
      end1: switch2
      end2: node3
      distance: 20
      source_fidelity_sq: 1
      source_delay: 10
      photon_speed_fibre: 200e3
  - nodeswitch4:
      end1: switch2
      end2: node4
      distance: 20
      source_fidelity_sq: 0.8
      source_delay: 10
      photon_speed_fibre: 200e3     
  - nodeswitch5:
      end1: switch2
      end2: node5
      distance: 20
      source_fidelity_sq: 0.9
      source_delay: 10
      photon_speed_fibre: 200e3   
  - nodeswitch6:
      end1: switch3
      end2: node6
      distance: 20
      source_fidelity_sq: 0.7
      source_delay: 10
      photon_speed_fibre: 200e3   
  - interswitch1:
      end1: switch1
      end2: switch2
      distance: 5
      number_links: 4
      #quantum_noise_model: FibreLossModel
      p_loss_init: 0.1
      p_loss_length: 0.1
      source_fidelity_sq: 0.90
      source_delay: 10
      photon_speed_fibre: 200e3
      classical_delay_model: FibreDelayModel
  - interswitch2:
      end1: switch1
      end2: switch3
      distance: 5
      number_links: 4
      noise_model: DepolarizingChannel
      source_fidelity_sq: 0.97
      source_delay: 10
      photon_speed_fibre: 200e3
  - interswitch3:
      end1: switch2
      end2: switch3
      distance: 5
      number_links: 4
      noise_model: DepolarizingChannel
      source_fidelity_sq: 0.96
      source_delay: 10
      photon_speed_fibre: 200e3

requests:
  - request1: #name of request
      origin: node3
      destination: node1
      minfidelity: 0.90
      maxtime: 160000 # nanoseconds
      path_fidel_rounds: 100
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
  - request2: #name of request
      origin: node2
      destination: node4
      minfidelity: 0.99
      maxtime: 2000000 # nanoseconds
      path_fidel_rounds: 100
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
  - request3: #name of request
      origin: node6
      destination: node5
      minfidelity: 0.95
      maxtime: 500000 # nanoseconds
      path_fidel_rounds: 100
      teleport: [(1,0),(0,1)] #Lista de (alpha, beta). alpha|0> + beta|1> Estados a teleportar
       